node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Config
src/lib/config.json

# All image types (since this is a template repository, the actual forks or CD repository should keep all their images in the repository)
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.ico
*.webp
*.avif
*.heic
*.heif